body {
	font-family: "Zilla Slab", Source Sans Pro, Helvetica Neue, Arial, sans-serif;
	letter-spacing: .03em;
	font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sidebar-nav,
nav,
button {
	font-family: "Nunito", Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
}

.text-center {
	text-align: center;
}

.app-nav li ul {
	padding: 0;
}

.app-sub-sidebar .section-link:before {
	content: " ";
}

.markdown-section pre>code {
	font-family: "Fira Mono", "Roboto Mono", Monaco, courier, monospace;
}

.supported-by {
	padding: 15px 15px 15px 0;
	display: inline-block;
}

.supported-by a {
	text-decoration: none;
	color: #FF75ED;
}

.supported-by img {
	vertical-align: middle;
}

.button,
.bas {
	display: inline-block;
	position: relative;
	padding: .8em 1.3em;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.2;
	outline: 0;
	background: #AC8FFD;
	border: 2px solid #948CE2;
	color: #fff;
	text-shadow: none;
	border-radius: 2px;
	cursor: pointer;
}

.bas {
	background: #fff;
	color: #AC8FFD;
	border-color: #AC8FFD;
	text-transform: none;
	text-decoration: none;
	transition: all .2s;
}

.bas:hover {
	background: #AC8FFD;
	color: #fff;
}

.button:hover {
	background-color: #c0a7fd;
	border-color: #948CE2;
}

a.edit-this-page {
	float: right;
	color: #444;
}

.sidebar li {
	margin: 0 0 0 24px;
}

.sidebar {
	padding: 0 0 40px 0;
}